#### Session Go
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


### Session Angular

# Compiled output
**/dist
**/tmp
**/out-tsc
**/bazel-out

# Node
**/node_modules
*.log
*.log

# Visual Studio Code
**/.vscode/*

